body {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    /* background: linear-gradient(to right, rgb(2, 17, 29), rgb(3, 123, 181), rgb(2, 17, 29)); */
}


.hide{
    display: none;
}

.order{
    position: absolute;
    top: 5px;
    right: 110px;
}

h1 {
    background: linear-gradient(to right, rgb(57, 106, 252), rgb(41, 72, 255));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.divider{
    height: 200px;
    /* background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%); */
    background: url(../img/137262-OSVS0O-885.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 3px;
    margin: 10px 0;
    position: relative;
}

.divider a:link,.divider a:visited{
    color:white;
    font-size: 24px;
    position: absolute;
    right: 10px;
    bottom: 0;
} 

.weather {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .35);
    color: floralwhite;
    padding: 15px;
    border-radius: 3px;
    background: linear-gradient(to right, rgb(7, 101, 133), rgb(255, 255, 255));
}

.weather:not(:last-child) {
    margin-bottom: 40px;
}

.title{
    font-size: 20px;
    text-transform: capitalize;
}

.title-comment{
    font-size: 20px;
    margin-left: 26px;
    text-transform: capitalize;
}

.icon {
    color:rgba(0,0,0,.3);
    font-size: 26px;
    cursor: pointer;
}

.icon:hover{
    color: red;
}



p.lead-style{
    font-style: italic;
    font-size: 24px;
    font-weight: 300;
}


.lead-style span{
    font-size: 30px;
    font-weight: 700;

    background: linear-gradient(to right, rgb(22, 160, 133), rgb(244, 208, 63));
    -webkit-background-clip:text;
    background-clip: text;
    color: transparent;
}

sup{
    background: linear-gradient(to right, rgb(22, 160, 133), rgb(244, 208, 63));
    -webkit-background-clip:text;
    background-clip: text;    
    color: transparent;
}

.comments .remove:not(:last-child){
    margin-bottom: 5px; 
}

.comment {
    background:  #52c234;
    -webkit-background-clip:text;
    background-clip: text;    
    color: transparent;
    display: inline-block;
    padding: .25em .4em;
    font-weight: 700;
    font-size: 17px;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    margin: 0;
    position: relative;
}

.comments:last-of-type .comment:hover{
    cursor: pointer;
}

.comment::before{
    content: '';
    display: none;
    width: 100%;
    height: 3px;
    border-radius: 3px;
    margin: 0;

    position: absolute;
    right:0px;
    top:12px;
}

.remove{
    display: inline-block;
    padding-right: 23px;
}


.weather .comments:last-of-type .remove:hover .comment::before{
    display: block;
    /* background: #e52d27; */
    background: #EB5757; 
}

/* disableing the foucos for boostrap */
.form-control:focus{
    box-shadow: none;
}

